<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/newuser" method="POST">
        <input type="text" name="uname" placeholder="USERNAME">
        <br>
        <input type="password" name="pass" placeholder="PASSWORD">
        <br>
        <input type="password" name="passc" placeholder="CONFIRM PASSWORD">
        <br>
        <input type="submit" value="Register"/>
    </form>
</body>

</html>